In [2]:
# Part 1: Import Libraries
import pandas as pd
import numpy as np

In [4]:
# Part 2: Load the Dataset
data = pd.read_csv("Housing.csv")

In [6]:
# Display first few rows and basic info
print("----- Initial Data -----")
print(data.head(), "\n")
print(data.info(), "\n")

----- Initial Data -----
      price  area  bedrooms  bathrooms  stories mainroad guestroom basement  \
0  13300000  7420         4          2        3      yes        no       no
1  12250000  8960         4          4        4      yes        no       no
2  12250000  9960         3          2        2      yes        no      yes
3  12215000  7500         4          2        2      yes        no      yes
4  11410000  7420         4          1        2      yes       yes      yes

  hotwaterheating airconditioning  parking prefarea furnishingstatus
0              no             yes        2      yes        furnished
1              no             yes        3       no        furnished
2              no              no        2      yes   semi-furnished
3              no             yes        3      yes        furnished
4              no             yes        2       no        furnished

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    object
 6   guestroom         545 non-null    object
 7   basement          545 non-null    object
 8   hotwaterheating   545 non-null    object
 9   airconditioning   545 non-null    object
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    object
 12  furnishingstatus  545 non-null    object
dtypes: int64(6), object(7)
memory usage: 55.5+ KB
None

In [8]:
# -----------------------------------------
# Part 3: Clean Column Names
# -----------------------------------------
data.columns = data.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('[^a-zA-Z0-9_]', '', regex=True)
print("Cleaned Column Names:\n", data.columns, "\n")

Cleaned Column Names:
 Index(['price', 'area', 'bedrooms', 'bathrooms', 'stories', 'mainroad',
       'guestroom', 'basement', 'hotwaterheating', 'airconditioning',
       'parking', 'prefarea', 'furnishingstatus'],
      dtype='object')

In [10]:
# -----------------------------------------
# Part 4: Handle Missing Values
# -----------------------------------------
print("Missing Values Before:\n", data.isnull().sum(), "\n")

# Fill numerical with mean, categorical with mode
for col in data.columns:
    if data[col].dtype == 'object':
        data[col].fillna(data[col].mode()[0], inplace=True)
    else:
        data[col].fillna(data[col].mean(), inplace=True)

print("Missing Values After:\n", data.isnull().sum(), "\n")

Missing Values Before:
 price               0
area                0
bedrooms            0
bathrooms           0
stories             0
mainroad            0
guestroom           0
basement            0
hotwaterheating     0
airconditioning     0
parking             0
prefarea            0
furnishingstatus    0
dtype: int64

Missing Values After:
 price               0
area                0
bedrooms            0
bathrooms           0
stories             0
mainroad            0
guestroom           0
basement            0
hotwaterheating     0
airconditioning     0
parking             0
prefarea            0
furnishingstatus    0
dtype: int64

C:\Users\Jayesh\AppData\Local\Temp\ipykernel_12300\3999180325.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col].fillna(data[col].mean(), inplace=True)
C:\Users\Jayesh\AppData\Local\Temp\ipykernel_12300\3999180325.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col].fillna(data[col].mode()[0], inplace=True)

In [12]:
# -----------------------------------------
# Part 5: Filter and Subset Data
# Example: Houses with 3 or more bedrooms and air conditioning
# -----------------------------------------
subset = data[(data['bedrooms'] >= 3) & (data['airconditioning'] == 'yes')]
print("Filtered Data (3+ Bedrooms with AC):\n", subset.head(), "\n")

Filtered Data (3+ Bedrooms with AC):
       price  area  bedrooms  bathrooms  stories mainroad guestroom basement  \
0  13300000  7420         4          2        3      yes        no       no
1  12250000  8960         4          4        4      yes        no       no
3  12215000  7500         4          2        2      yes        no      yes
4  11410000  7420         4          1        2      yes       yes      yes
5  10850000  7500         3          3        1      yes        no      yes

  hotwaterheating airconditioning  parking prefarea furnishingstatus
0              no             yes        2      yes        furnished
1              no             yes        3       no        furnished
3              no             yes        3      yes        furnished
4              no             yes        2       no        furnished
5              no             yes        2      yes   semi-furnished

In [14]:
# -----------------------------------------
# Part 6: Encode Categorical Variables
# -----------------------------------------
cat_cols = ['mainroad', 'guestroom', 'basement', 'hotwaterheating', 
             'airconditioning', 'prefarea', 'furnishingstatus']

data_encoded = pd.get_dummies(data, columns=cat_cols, drop_first=True)
print("Encoded Data (with One-Hot Encoding):\n", data_encoded.head(), "\n")

Encoded Data (with One-Hot Encoding):
       price  area  bedrooms  bathrooms  stories  parking  mainroad_yes  \
0  13300000  7420         4          2        3        2          True
1  12250000  8960         4          4        4        3          True
2  12250000  9960         3          2        2        2          True
3  12215000  7500         4          2        2        3          True
4  11410000  7420         4          1        2        2          True

   guestroom_yes  basement_yes  hotwaterheating_yes  airconditioning_yes  \
0          False         False                False                 True
1          False         False                False                 True
2          False          True                False                False
3          False          True                False                 True
4           True          True                False                 True

   prefarea_yes  furnishingstatus_semi-furnished  furnishingstatus_unfurnished
0          True                            False                         False
1         False                            False                         False
2          True                             True                         False
3          True                            False                         False
4         False                            False                         False

In [16]:
# -----------------------------------------
# Part 7: Aggregate Data
# Example: Average price by number of bedrooms
# -----------------------------------------
avg_price_by_bedrooms = data.groupby('bedrooms')['price'].mean().reset_index().rename(columns={'price': 'avg_price'})
print("Average Price by Bedrooms:\n", avg_price_by_bedrooms, "\n")

Average Price by Bedrooms:
    bedrooms     avg_price
0         1  2.712500e+06
1         2  3.632022e+06
2         3  4.954598e+06
3         4  5.729758e+06
4         5  5.819800e+06
5         6  4.791500e+06

In [18]:
# -----------------------------------------
# Part 8: Identify and Handle Outliers
# Example: Remove properties with price beyond 99th percentile
# -----------------------------------------
upper_limit = data['price'].quantile(0.99)
data = data[data['price'] <= upper_limit]
print("Data after removing outliers:\n", data.describe(), "\n")

Data after removing outliers:
               price          area    bedrooms   bathrooms     stories  \
count  5.390000e+02    539.000000  539.000000  539.000000  539.000000
mean   4.685700e+06   5117.411874    2.957328    1.274583    1.799629
std    1.712754e+06   2156.687235    0.736740    0.482716    0.864801
min    1.750000e+06   1650.000000    1.000000    1.000000    1.000000
25%    3.430000e+06   3577.000000    2.000000    1.000000    1.000000
50%    4.319000e+06   4510.000000    3.000000    1.000000    2.000000
75%    5.696250e+06   6360.000000    3.000000    2.000000    2.000000
max    1.015000e+07  16200.000000    6.000000    3.000000    4.000000

          parking
count  539.000000
mean     0.675325
std      0.847237
min      0.000000
25%      0.000000
50%      0.000000
75%      1.000000
max      3.000000

In [20]:
# -----------------------------------------
# Final Check
# -----------------------------------------
print("Final Dataset Shape:", data.shape)
print("Final Columns:", data.columns.tolist())

Final Dataset Shape: (539, 13)
Final Columns: ['price', 'area', 'bedrooms', 'bathrooms', 'stories', 'mainroad', 'guestroom', 'basement', 'hotwaterheating', 'airconditioning', 'parking', 'prefarea', 'furnishingstatus']